/**
* Created by cycold on 2016-08-05
*/

/**
 * icons
 */
 svg.icon { display: inline-block; width: 1em; height: 1em; stroke-width: 0; stroke: currentColor; fill: currentColor; }


/**
 * 全局页面
 */
.page-header {
  border-bottom: 1px solid #DFDFDF;
}
